body {
  font-family: 'Courier New', Courier, monospace;
}

.current {
    color: green;
  }

.body_center {
  max-width: 60em;
  margin:auto;
  border: 1px solid black;
  margin-bottom: 1em;
  padding: 1em;
}